<a href="/">Strona główna</a>
<br><br>
<h2>Lista firm</h2>
<% @firms.each do |firm| %>
	Nazwa: <%=h firm.title %> <br>
	Opis: <%=h firm.description %> <br>
	
	<%= link_to 'Lista pracowników', admin_firm_workers_path(firm) %>
	<%= link_to 'Edytuj', edit_admin_firm_path(firm) %>
	<%= link_to 'Usun', admin_firm_path(firm), :method => :delete %><br>
	<br>
<% end %>
<%= link_to 'Nowa firma', new_admin_firm_path %>

